@model EFExampleProject.Models.tbl_appointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tbl_appointment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.app_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.app_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.app_time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.app_time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tbl_Doctor.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_Doctor.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tbl_Patient.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_Patient.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.tbl_Patient.phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_Patient.phone)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.app_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
