@model Day8_Project.Models.tblDoctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblDoctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.years_of_exp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.years_of_exp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
